#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.displayCards {
  display: flex;
  justify-content: space-around;
}

.taskCard {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;;
}

.taskImage {
  width: 200px;
  border-radius: 10px;
}

.skillList {
  list-style-type: none;
}