#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

}

body {
   background-color: #eae2b7;
   margin: 0;
   padding-bottom: 50px;
}

.displayCards {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
}

.taskCard {
  border: 1px solid #003049;
  padding: 10px;
  border-radius: 10px;
  font-family: Lato;
  background-color: #fcbf49;
  /* width: 75%; */
  margin: 10px auto 10px auto;
  transition: transform 0.2s ease;
  font-size: 12px;
  color: #003049;
}

.taskCard:hover {
    border: 2px solid #d62828;
    transform: rotate(5deg);
}

.taskDetails {
  border: 1px solid #003049;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  background-color: #fcbf49;
  color: #003049;
}

.taskImage {
  width: 200px;
  border-radius: 10px;
}

/* .skillList {

  padding: 0;
  margin: 0;
} */

.navContainer {
  background-color: #003049;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: Montserrat;
  font-weight: bold;
  height: 50px;
  align-content: center;
  /* background-color: cyan; */
}

.nav a {
  text-decoration: none;
    /* color: white; */
     color: #eae2b7;
}

.nav a:hover {
   color: #fcbf49;
}


.navItem {
  font-size: 12px;
}


h1 {
  font-family: Montserrat;
  padding: 10px 0 0 0;
  color: #003049;
  margin-top: 50px;
  margin-bottom: 25px;
}

h2 {
  font-family: Montserrat;
  padding: 5px 10px;
  margin: 25px 10px;
  color: #003049;
}

label {
  font-family: Lato;
}

h3 {
  font-family: Montserrat;
  padding: 10px 0 0 0;
}

p {
    font-family: Lato;
}

.displayCards {
  font-family: Lato;
  display:flex;
  flex-wrap: wrap;
}



.volunteerCard {
  font-family: Lato;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.scheduleTask {
  font-family: Lato;
  background-color: white;
  width: 75%;
  margin: 20px auto;
  padding: 25px 0;
  border-radius: 10px;
  /* display: block; */
}

.volunteerSelect {
  width: 50%;
  margin: 10px auto 10px auto;
      transition: transform 0.2s ease;
}

.volunteerSelect:hover {
    border: 2px solid #d62828;
}

.instructions {
  padding-bottom: 10px;
  text-align: left;
  font-family: Lato;

}

.instructions li {
  margin-bottom: 10px;
  font-size: 14px;
    padding-right: 20px;
}

.editTask {
  display: block;
  width: 75%;
  border: 1px solid #003049;
  padding: 50px;
  border-radius: 10px;
  font-family: Lato;
  background-color: #fcbf49;
  /* width: 75%; */
  margin: 10px auto 10px auto;
  font-size: 12px;
  color: #003049;
}

.instructionsInput {
    margin-bottom: 5px;
    width: 75%;
    margin-right: 5px;
    overflow: hidden; 
    resize: none;
   
}

.newVolunteerForm {
  display:flex;
  flex-direction: column;
  width: 50%;
margin: 0 auto;
}

main {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  flex-wrap: wrap;
}

main a {
  text-decoration: none;
  color:#003049;
}


section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 width: 60%;
 margin: 10px auto;
 gap: 10px;
  
}

.homeCircle {
  background-color: #fcbf49;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease;
  text-align: center;
}

.homeCircle img {
  width: 100px;
}

.homeCircle:hover {
    border: 2px solid #d62828;
    transform: rotate(10deg);

}

.checkBullet {
  list-style-type: square;

 
}

.workDate {
 align-items: center;
}

.deleteBtn {
  background-color: #003049;
    transition: transform 0.2s ease-in-out;
    height: 25px;
    width: 100px;
    color: #eae2b7;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.deleteBtn:hover {
  background-color: #d62828;
}

.editBtn {
  background-color: #003049;
    transition: transform 0.2s ease-in-out;
    height: 25px;
    width: 100px;
    color: #eae2b7;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.editBtn:hover {
  background-color: #f77f00;
}


.addBtn {
  background-color: #003049;
    transition: transform 0.2s ease-in-out;
    height: 25px;
    width: 150px;
    color: #eae2b7;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addBtn:hover {
  background-color: #f77f00;
}


.saveBtn {
  background-color: #003049;
    transition: transform 0.2s ease-in-out;
    height: 25px;
    width: 150px;
    color: #eae2b7;
    border-radius: 10px;
    margin-bottom: 50px;
}

.saveBtn:hover {
  background-color: #f77f00;
}

.editInstructions {
  display:flex;
  justify-content: center;
  margin-bottom: 5px;
}


