#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.displayCards {
  display: flex;
  justify-content: space-around;
}

.taskCard {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;;
}

.taskImage {
  width: 200px;
  border-radius: 10px;
}

.skillList {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Montserrat;
  font-weight: bold;
  /* background-color: cyan; */

}

.nav a {
  text-decoration: none;
    color: black;
}

h1 {
  font-family: Montserrat;
  padding: 10px 0 0 0;
}

h2 {
  font-family: Montserrat;
  padding: 5px 10px;
  margin: 25px 10px;
}

label {
  font-family: Lato;
}

h3 {
  font-family: Montserrat;
  padding: 10px 0 0 0;
}

.displayCards {
  font-family: Lato;
  display:flex;
  flex-wrap: wrap;
}

.taskCard {
  font-family: Lato;
}

.instructions {
  padding-bottom: 10px;
  text-align: left;
}

.editTask {
  display: block;
}

.instructionsInput {
    margin-bottom: 5px;
    width: 100%;
    margin-right: 5px;
    overflow: hidden; 
    resize: none;
}

.newVolunteerForm {
  display:flex;
  flex-direction: column;
  width: 50%;
margin: 0 auto;
}